@import "colors";
@import "frameless";

/* Tags */
html,
body {
    margin: 0;
    background-color: $ui-blue-dark;
    padding: 0;
}

#view {
    display: inline-block;

    /* NOTE: Margin should match height in navigation.scss */
    margin-top: 50px;
    background-color: $background-color;
    padding: 20px 0;
    min-width: 100%;
    min-height: 768px;
}
