@import "../../colors";

#view {
    .splash-header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;

        .ie9 & {
            display: table;
            margin: 0 -20px 20px -20px;
            min-width: 100%;
            border-spacing: 20px 0;
        }

        .box {
            display: inline-block;
            width: calc(60% - 20px);

            .ie9 & {
                display: table-cell;
                vertical-align: top;
            }
        }

        .news,
        .fools {
            width: 40%;
        }

        .fools {
            text-align: center;

            img {
                margin: 2em 0 1em;
            }

            .box-content {
                background-color: darken($ui-aqua, 8);
                padding: 0;
            }

            .sub-navigation {
                background-color: $ui-aqua;
            }
        }
    }

    .box {
        margin-bottom: 20px;
    }
}
