@import "../../colors";

#view {
    .splash-header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;

        .ie9 & {
            display: table;
            margin: 0 -20px 20px -20px;
            min-width: 100%;
            border-spacing: 20px 0;
        }

        .box {
            display: inline-block;
            width: calc(60% - 20px);

            .ie9 & {
                display: table-cell;
                vertical-align: top;
            }
        }

        .news,
        .fools {
            width: 40%;
        }

        .fools {
            .box-content {
                background-color: $ui-dark-aqua;
                padding: 0;
            }

            .button-row {
                padding: .85em .25em;
                text-align: center;

                &,
                .button {
                    background-color: $ui-aqua;
                }
            }


            .button {
                margin-right: 1em;
                border: 1px solid $ui-dark-aqua;
                border-radius: 2.25em;
                box-shadow: none;
                height: 1.5em;
                line-height: 1.55em;
                color: $ui-white;
                font-weight: normal;

                &:hover {
                    box-shadow: none;
                    text-decoration: none;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .box {
        margin-bottom: 20px;
    }
}
